@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3490dc;
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2779bd; 
}

::-webkit-scrollbar-track {
  background-color: #f1f5f9;
}
